html,body{
    font-family:'Fira Sans', sans-serif;
    font-weight:500;
    font-size: 14px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #111;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar {
    width: 6px;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    z-index:-1;
    background-color: #999999;
}
.friends {
    max-width: 620px;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
}
.friends-lists{
    display: flex;
    justify-content: space-between;
}
.empty-div{
    margin:5px;
    background-color: #f0f0f0;
    height: 72px;
}
.friends-lists__wrapper{
    flex-basis: 50%;

    background-color: #fff;
}
.friends-list{
    height: 310px;
    overflow-y: auto;
}
.friend-list__title{
    margin-bottom: 10px;
    padding:15px 15px 5px;
    border-bottom:1px solid #f0f0f0;
}
.friends__title h1 {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    padding:15px 0 15px 15px;
    color:#fff;
    background-color: #ff8663;
}
.friends-filters{
    display: flex;
    justify-content: space-around;
    padding:15px 0;
    background-color: #f0f0f0;
}
.friends-filters__input input{
    border:0;
    border-radius: 15px;
    padding: 5px 0 5px 30px;
    width: 255px;
    font-family:'Fira Sans', sans-serif;
    font-weight: 300;

}
.friends-filters__input input::placeholder{
    font-size: 12px;
}
.friends-list__photo{
    border-radius: 50%;
    overflow: hidden;
    flex-basis: 20%;
    height: 52px;
}
.friends-list__photo img{
    max-width:100%;
    height:auto;
}
.friends-list__item{
    padding:10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.friends-list__item:hover{
    background-color: #f0f0f0;
}
.friends-list__name{
    margin:0 10px;
}
.friends-list__add button{
    font-size: 20px;
    color:#ccc;
    cursor: pointer;
    background: none;
    border:none;
}
.friends__submit{
    background-color: #f0f0f0;
    padding:15px;
    text-align: right;
}
.friends__submit input[type = 'submit']{
    font-family:'Fira Sans' ,sans-serif;
    font-weight: 300;
    border-radius: 15px;
    border:0;
    cursor: pointer;
    background-color: #ff8663;
    padding:10px 15px;
    color:#fff;
    border:1px solid transparent;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}
.friends__submit input[type = 'submit']:hover{
    background-color: #fff;
    border-color:#ff8663;
    color:#ff8663;
}

